name: Build

on:
  push:
    tags: ['v*']

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Run tests
        run: go test ./...

      - name: Build
        run: go build -ldflags="-s -w" -o miriani.exe

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: './miriani.exe'
          draft: true
